footer{
    width: 100%;
    padding:  40px;
    background-color: var(--maincolor);
    color: var(--primarycolor);
    display: flex;
    flex-direction: column;
    
}
.footer-icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.footer-grid{
    margin: 0 auto;
    margin-top: 1.5rem;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 80%;
    

}


.footer-grid-1{
    line-height: 3rem;
}
.footer-grid-4{
    line-height: 3rem;
}
.footer-grid-1 li{
    list-style: none;
    font-size: var(--desk-smallfont);
}
.footer-grid-1 h3{
 
    font-size: var(--desk-mediumfont);
}
.footer-grid-4 form input{
 height: 50px;
 width: 100%;

}

.footer-grid-4 form button{
    height: 50px;
    width: 100%;
    background-color: var(--primarycolor);
    color: var(--maincolor);
    border: none;
    cursor: pointer;
}

.footer-grid-4 form button:hover{

    background-color: var(--maincolor);
    color: var(--primarycolor);
  
}

@media screen and (max-width: 768px){
    footer{
        padding: 20px;
    }
    .footer-grid{
        grid-template-columns: 1fr 1fr;
    }
    .footer-grid-1{
        text-align: center;
    }
    .footer-grid-4 form input{
        width: 100%;
    }
    .footer-grid-4 form button{
        width: 100%;
    }
    
}

@media screen and (max-width: 481px){
    .footer-grid{
        grid-template-columns: 1fr;
    }
    .footer-grid-1 li{
       
        font-size: var(--mob-smallfont);
    }
    .footer-grid-1 h3{
     
        font-size: var(--mob-mediumfont);
    }
}

@media screen and (min-width: 1100px){
    .footer-grid-1 li{
       
        font-size: var(--large-smallfont);
    }
    .footer-grid-1 h3{
     
        font-size: var(--large-mediumfont);
    }
}