footer{
    width: 100%;
    padding:  40px;
    background-color: var(--maincolor);
    color: var(--primarycolor);
    display: flex;
    flex-direction: column;

}

.footer-icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}
.footer-grid{

    margin-top: 1rem;
    display: flex;
    justify-content: space-around;

    

}
.footer-grid-1 ul li .menu{ 
    color: var(--primarycolor);
    text-decoration: none;
}

.footer-grid-1{
    cursor: pointer;
    line-height: 2rem;
}


.footer-grid-1 ul{
  margin-top: rem;
}
.footer-grid-1 li{
    list-style: none;
    font-size: var(--desk-smallfont);
}
.footer-grid-1 h3{
 
    font-size: var(--desk-mediumfont);
}
.footer-grid-4{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copyright{
    text-align: center;
    margin-top: 1rem;
    font-size: var(--desk-smallfont);
}

@media screen and (max-width: 768px){
    footer{
        padding: 20px;
    }
    .footer-grid{

flex-direction: column;
     
    }
    .footer-grid-1{
        text-align: center;


    }
    .footer-grid-4{
        text-align: center;
    }
    .footer-grid-1 .grid{
        margin-top: .7rem;
    }
    .footer-grid-4{

        width: 100%;
        grid-area: footer-grid-4;
    }


    .footer-icon-wrapper{
        margin-top: 1.5rem;
    }
    
}

@media screen and (max-width: 481px){
    .footer-grid{
        grid-template-columns: 1fr 1fr;
    }
    .footer-grid-1 li{
       
        font-size: var(--mob-smallfont);
    }
    .footer-grid-1 h3{
     
        font-size: var(--mob-mediumfont);
    }
}

@media screen and (min-width: 1100px){
    .footer-grid-1 li{
       
        font-size: var(--large-smallfont);
    }
    .footer-grid-1 h3{
     
        font-size: var(--large-mediumfont);
    }
}